<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @question.message %>
</p>

<p>
  <strong>Date creation:</strong>
  <%= @question.created_at %>
</p>

<p>
  <strong>Autor name:</strong>
  <%= @question.user.name %>
</p>

<div class="span8">
  <% if @question.answers.any? %>
    <h3>All Answers (<%= @question.answers.count %>)</h3>
    <ol class="answers">
      <%= render @answers %>
    </ol>
  <% end %>
</div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', questions_path %>
<%= link_to 'Ответить!', new_question_answer_path(@question) %>
